.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #99b87d;
}

#projects {
  background-color: #99b87d;
}

.footer {
  background-color: #99b87d;
}

section {
  padding-top: 5rem;
}
